{
  "plugins": [
    ["inline-json-import", {}],
    ["styled-components", { "displayName": true }],
    ["transform-react-jsx", {}],
    ["transform-react-display-name", {}]
  ],
  "presets": [["env", { "modules": false }], "stage-2"]
}
