{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "plugin:flowtype/recommended",
    "plugin:import/recommended",
    "standard",
    "standard-react",
    "prettier",
    "prettier/flowtype",
    "prettier/react"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": ["prettier", "react", "flowtype", "import"],
  "rules": {
    "import/no-unresolved": ["error", { ignore: ["^react$", "^styled-components$"] }],
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "semi": false,
        "trailingComma": "es5",
        "bracketSpacing": true,
        "jsxBracketSameLine": false,
        "parser": "flow"
      }
    ],
    "linebreak-style": ["error", "unix"]
  }
}
