:root {
  /* Colors */

  --white: #ffffff;
  --black: #000000;
  --aragon: #00cae4;
  --aragonAlt: #00efe2;
  --turquoise100: #eef7f8;
  --turquoise500: #18bfdd;

  --grey400: #b4b4b4;
  --grey500: #717171;
  --grey500-rgb: 113, 113, 113;
  --grey600: #838383;
  --grey700: #1f2222;
  --grey800: #0b0b0a;
  --grey900: #000000;

  /* Grid columns: 12 cols / 68px width / 30px gutter */

  --cols10: 950px;
  --cols12: 1146px;

  --text-normal: {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
  }

  --text-large: {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
  }

  --text-xlarge: {
    font-size: 37px;
    font-weight: 400;
    line-height: 1.3;
  }

  --text-xxlarge: {
    font-size: 58px;
    font-weight: 600;
    line-height: 1.5;
  }
}
